body, html {
  display: flex;
  justify-content: center;
  align-items: center;
  
  height: 100%;
  margin: 0;

  background-color: hsl(225, 100%, 94%);
  font-family: Red Hat Display, arial;
}

.desktop-background {
  position: absolute;
  top: -84px;
}

.mobile-background {
  display: none;
}

.container {
  position: absolute;
  z-index: 100;

  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}

.top-section {
  margin: 0;
}

.top-image {
  border-radius: 20px 20px 0 0;
}

.bottom-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;
  width: 450px;
  margin-top: -4px;
  border-radius: 0 0 20px 20px;
}

h1, p {
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 900;
  color: hsl(223, 47%, 23%);
  margin-top: 44px;
}

.description-container {
  width: 300px;
}

.description {
  text-align: center;
  margin-top: 17px;
  line-height: 26px;
  font-size: 16px;
  color: hsl(224, 23%, 55%);
}

.plan-section-container {
  display: flex;
  align-items: center;

  background-color: hsl(225, 100%, 98%);
  height: 100px;
  width: 354px;
  border-radius: 10px;
  margin-top: 20px;
}

.plan-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  width: 330px;
}

.music-icon {
  object-fit: cover;
  width: 46px;
  margin-left: 26px;
}

.plan-text {
  font-size: 16px;
  margin-left: -70px;
  line-height: 28px;
}

.plan-type {
  font-weight: 900;
  color: hsl(223, 47%, 23%);
}

.plan-price {
  color: hsl(224, 23%, 55%);
}

.plan-link {
  font-size: 14px;
  font-weight: 700;
  text-decoration: underline;
  color: hsl(245, 75%, 52%);
  cursor: pointer;
}

.plan-link:hover {
  color: hsl(224, 23%, 55%);
  text-decoration: none;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.proceed-button {
  font-family: Red Hat Display, arial;
  font-size: 15px;
  font-weight: 900;
  background-color: hsl(245, 75%, 52%);
  color: white;
  border: none;
  border-radius: 10px;
  width: 354px;
  height: 50px;
  box-shadow: 0 10px 25px rgba(112, 112, 112, 0.4);
  cursor: pointer;
}

.proceed-button:hover {
  background-color: hsl(224, 23%, 55%);
}

.cancel-button {
  font-family: Red Hat Display, arial;
  font-size: 15px;
  font-weight: 900;
  color: hsl(224, 23%, 55%);
  background-color: white;
  border: none;
  margin-top: 30px;
  margin-bottom: 48px;
  width: 108px;
  cursor: pointer;
}

.cancel-button:hover {
  color: hsl(223, 47%, 23%);
}

@media (max-width: 400px) {

  .desktop-background {
    display: none;
  }

  .mobile-background {
    display: block;
  }

  .top-image {
    width: 330px;
  }

  .bottom-section {
    width: 330px;
  }

  h1 {
    margin-top: 30px;
    font-size: 24px;
  }

  .description-container {
    width: 250px;
  }

  .description {
    font-size: 15px;
  }

  .plan-section-container {
    width: 290px;
    height: 80px;
  }

  .plan-section {
    width: 276px;
  }

  .music-icon {
    margin-left: 12px;
  }

  .plan-text {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.5px;
    margin-left: -50px;
  }

  .plan-link {
    font-size: 13px;
  }

  .plan-link:active {
    color: hsl(224, 23%, 55%);
    text-decoration: none;
  }

  .proceed-button:active {
    background-color: hsl(224, 23%, 55%);
  }

  .proceed-button {
    width: 290px;
    font-size: 14px;
  }

  .cancel-button {
    margin-bottom: 30px;
    font-size: 14px;
  }

  .cancel-button:active {
    color: hsl(223, 47%, 23%);
  }
  
}